.artistPage{
    color: white;
}
.searchBar{
    margin-top: 15px;
    margin-left: 5px;
}
.alertText{
    text-align: center;
    margin-top: 40vh;
}
.BasicInformation img{
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 25px;
}
.BasicInformation{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.artistPage h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.albumsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}
.events{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 620px){
    .BasicInformation img{
        width: 100px; 
        height: 100px; 
        margin-top: 15px;
    }
    .albumsContainer{
        grid-template-columns: 1fr 1fr;
    }
}
