.songContainer{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    height: 150px;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.songContainer img{
    width: 130px;
    height: 130px;
    border-radius: 15px;
    justify-self: center;
}
.songContainer h2{
    margin-left: 4vw;
}
@media screen and (max-width: 620px){
    .songContainer img{
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 450px){
    .songContainer{
        grid-template-columns: 1fr 1fr;
        height: 250px;
    }
    .songContainer h2{
        margin-left: 0;
    }
}